<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="player"
          class="ru.aston.artamonov_va.task1.task10.MusicPlayer"
          destroy-method="destroy"
    >
        <constructor-arg value="fruits"/>
    </bean>

    <bean id="music"
          class="ru.aston.artamonov_va.task1.task10.RockMusic"
          scope="prototype"
          init-method="init"
    />

</beans>